.header__lang-links {
    font-size: 24px;
    line-height: 1.14;
    cursor: pointer;
    padding-bottom: 6px;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        font-size: 18px;
        line-height: 1.11;
    }
}